.contents {
    @apply flex gap-2.5;
    @apply p-3.5 bg-blue hover:bg-lightBlue rounded-md text-white text-xs font-medium;
    @apply transition duration-300 ease-in-out;
    @apply hover:transition hover:duration-300 hover:ease-in-out;
}