.contents {
    @apply relative;
    @apply flex appearance-none;
    @apply w-10 h-6;
    @apply border border-grey rounded-3xl;

    padding: 1px;
    background-image: linear-gradient(to right, #1eb91e 35%, #222 65%);
    background-size: 6.5rem 100%;
    background-position-x: 100%;
    transition-property: background-position, box-shadow;
    transition-timing-function: cubic-bezier(0.26, 0.75, 0.38, 0.45);
    transition-duration: 125ms;

    box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.2);

    &[data-checked] {
        background-position-x: 0;
    }

    .thumb {
        @apply h-full bg-white rounded-50;
        aspect-ratio: 1 / 1;
        background-color: #fff;
        transition: translate 150ms ease;
        box-shadow: -1px 0 3px rgba(0, 0, 0, 0.3);

        &[data-checked] {
            translate: 1rem 0;
        }

    }

}