.contents {
    @apply p-4;

    .item {
        @apply my-2 border-b border-b-darkGreen pb-2 text-base;

        .header {
            @apply py-4;
        }

        .panel {
            @apply pt-2 pb-4;
        }
    }

}