.contents {
    @apply p-8;

    .item {
        @apply my-2 border-b border-b-darkGreen pb-2;

        .header {
            @apply py-4;
        }

        .panel {
            @apply p-2 pl-5;
        }
    }

}