.contents {
    @apply text-sm;
    @apply block;
    @apply w-fit;
    @apply mb-1 pl-1;
    @apply font-medium;


    &.no-margin {
        @apply mb-0;
    }

    // ----- Themes -----
    &.dark {
        @apply text-grey-3;
    }

}