.contents {
    @apply font-medium text-lg;

    &.large {
        @apply text-2xl;
    }

    &.medium {
        @apply text-xl;
    }

    &.small {
        @apply text-base;
    }

    &.xsmall {
        @apply text-sm;
    }

}