.contents {
    @apply bg-black opacity-80;
    @apply fixed top-0 left-0 right-0 bottom-0;
    @apply w-full h-full;
    @apply overflow-hidden z-overlay;
    animation: 0.4s fadeIn ease-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.8;
    }
}