.formField {

    &:has(.inline) {
        @apply border-b border-grey-3;
    }

    .contents {

        @screen md {

            &.inline {
                @apply grid items-center gap-10;
                grid-template-columns: 1fr 1fr;
            }

        }

    }

}