.contents {
    @apply text-left text-xs;

    .heading, .standings {
        @apply grid grid-cols-4 gap-4 items-center;
        grid-template-columns: 10px 1fr 1fr 60px;
    }

    .heading {
        @apply mb-4 border-b pb-2;
    }

    .standings {

        .total {
            @apply text-center;
        }
        .par {
            @apply flex justify-end;

            > div {
                @apply text-xs flex items-center justify-center w-10 text-right p-1 px-1 rounded-lg bg-red-2;
            }

        }

    }

}