.contents {
    @apply text-left text-xs;
        @apply overflow-auto relative pb-4;

    .heading, .standings {
        @apply grid gap-4 items-center text-center;
        grid-template-columns: 10px 1fr 1fr repeat(18, 20px) 60px;
    }

    .heading {
        @apply w-fit mb-4 border-b pb-2;
    }

    .standings {

        .total {
            @apply text-center;
        }
        .par {
            @apply flex justify-end;

            > div {
                @apply text-xs flex items-center justify-center w-10 text-right p-1 px-1 rounded-lg bg-red-2;
            }

        }

    }

}