.formField {
        @apply mt-5 pb-5;


    .contents {

        .inputs{
            @apply flex items-center gap-2 flex-wrap justify-start;
        }

        @screen md {

            &.inline {
                @apply grid items-center gap-10;
                grid-template-columns: 1fr 1fr;
            }

        }


        label {
            @apply flex items-center justify-center gap-2;
            @apply p-3 min-w-[48px];
            @apply border border-grey-1 rounded-md;
            @apply text-center text-xs;
            @apply transition-colors duration-300 ease-in-out;
            @apply cursor-pointer;

            input {
                @apply h-0 w-0 p-0 m-0 opacity-0 absolute;
            }

            &:hover {
                @apply bg-lightBlue;
            }
            &:has(input:checked) {
                @apply bg-blue border-blue text-white;
            }

            &:has(input:focus-visible) {
                @apply outline outline-amber;
            }

        }

    }

}