.contents {

    .trigger {
        @apply grid justify-between items-center gap-2.5;
        @apply p-3 border border-grey-3;
        @apply hover:bg-grey-6 transition-colors duration-300 ease-in-out;
        @apply text-xs rounded-md;
        grid-template-columns: 1fr 12px;

        .text {
            @apply whitespace-nowrap overflow-hidden text-ellipsis max-w-[200px];
        }

        &.highlight {
            @apply bg-pastel-blue-2;
        }

    }


    // ----- Variants -----

    &.dark {

        .trigger {
            @apply border-default;
            @apply hover:bg-darkerBlue;

            &.highlight {
                @apply bg-blue;
            }

        }

    }

    &.midnight {

        .trigger {
            @apply border-blue;
            @apply hover:bg-lightBlue;

            &.highlight {
                @apply bg-blue;
            }

        }

    }

}


//Popup is displayed in portal window, so is not part of .contents
.popup {
    @apply min-w-[350px] max-w-[420px];
    @apply p-5;
    @apply bg-white;
    @apply shadow-xl rounded-md;
    @apply outline-none;
}

.title {

    > label {
        @apply flex items-center gap-2;
        @apply mb-2;
        @apply text-xs text-default;

        svg {
            @apply cursor-pointer;
        }

    }

}

.body {
    @apply text-xs;
}