.contents {


    ul {

        li {
            @apply mb-2 w-full;

            > div {
                @apply grid gap-4 items-center w-full;
                grid-template-columns: 1fr 40px;

                div.deleteContainer {
                    @apply mt-2;
                }

            }

            &:last-of-type {
                @apply mb-4;
            }

        }

    }

    .pipe {
        @apply bg-grey-1 w-[1px] h-full;
    }

    button.add {
        @apply flex gap-2.5;
        @apply p-3.5;
        @apply bg-lightBlue font-semibold text-xs;
        @apply rounded-md;
        @apply transition duration-300 ease-in-out;
        @apply hover:transition hover:duration-300 hover:ease-in-out;

        &:hover {

            svg {

                path {
                    @apply stroke-lightBlue;
                }

            }

        }

    }

    button.delete {
        @apply flex gap-2.5 justify-center items-center;
        @apply text-xs bg-red px-4 py-2 mt-6;
        @apply cursor-pointer rounded-full;
        @apply transition duration-300 ease-in-out;
        @apply hover:transition hover:duration-300 hover:ease-in-out;

        svg {
            @apply w-6 h-6 p-1.5;
        }

        &:hover {
            filter: brightness(0.75);
        }

        &:focus {
            @apply rounded-full;
        }

    }

}