.contents {
    @apply mt-5 pb-5;
    @apply border-b border-grey-3;

    &.tel {

        div:nth-child(2) {

            ul {

                li > div.field {
                    @apply w-full grid gap-2 items-start;
                    grid-template-columns: 100px 1fr 7px 75px 25px;

                    &:has(> :last-child:nth-child(3)) {
                        grid-template-columns: 100px auto 25px;
                    }

                }

                li > .error {
                    @apply justify-end grid mb-5;
                    grid-column: 1 / -1;
                }

            }

        }

    }

    @screen lg {

        &.inline {
            @apply grid items-start gap-10;
            grid-template-columns: 1fr 1fr;

            ul li > div {
                @apply border-b-0 m-0 p-0;
            }

        }

    }

    ul {

        li {
            @apply mb-2;

            > div {
                @apply flex gap-4 items-center;

                div.deleteContainer {
                    @apply mt-2;
                }

            }


            &:last-of-type {
                @apply mb-4;
            }

        }

    }

    .pipe {
        @apply w-[1px] h-full bg-default opacity-25;
    }

    button.add {
        @apply flex gap-2.5;
        @apply p-3.5;
        @apply text-blue hover:text-lightBlue font-semibold text-xs;
        @apply border border-blue hover:border-lightBlue rounded-md;
        @apply transition duration-300 ease-in-out;
        @apply hover:transition hover:duration-300 hover:ease-in-out;

        &:hover {

            svg {

                path {
                    @apply stroke-lightBlue;
                }

            }

        }

    }

    button.delete {
        @apply flex gap-2.5 justify-center items-center;
        @apply text-xs;
        @apply cursor-pointer border border-grey-3 rounded-full;
        @apply transition duration-300 ease-in-out;
        @apply hover:transition hover:duration-300 hover:ease-in-out;

        svg {
            @apply w-6 h-6 p-1.5;
        }

        &:hover {
            filter: brightness(0.75);
        }

        &:focus {
            @apply rounded-full;
        }

    }

}