.contents {


    ul {

        li {
            @apply mb-4 w-full border-b pb-4 border-b-darkerGreen;

            > div {
                @apply grid gap-3 items-center w-full;
                grid-template-columns: 1fr 35px;
            }

            &:first-of-type {
                @apply mt-2;
            }


            &:last-of-type {
                @apply mb-4 border-0 pb-2;
            }

        }

    }

    .pipe {
        @apply bg-grey-1 w-[1px] h-full;
    }

    button.add {
        @apply flex gap-2.5;
        @apply p-3.5;
        @apply bg-blue font-semibold text-xs;
        @apply rounded-md;

        &:hover {

            svg {

                path {
                    @apply stroke-blue;
                }

            }

        }

    }

    button.delete {
        @apply flex gap-2.5 justify-center items-center;
        @apply text-xs bg-red px-3 py-2;
        @apply cursor-pointer rounded-md;

        svg {
            @apply w-6 h-6 p-1.5;
        }

        &:hover {
            filter: brightness(0.75);
        }

        &:focus {
            @apply rounded-full;
        }

    }

}