.contents {
    @apply inline relative;

    input {
        @apply absolute visible opacity-0 z-0 top-1 left-1 w-1 h-1;

        &:focus-visible {

            + img {
                @apply block outline outline-3 outline-amber -outline-offset-1;
            }

        }


    }

    img {
        width: 24px;
        height: 24px;
        @apply rounded cursor-pointer;

        &:hover {
            filter: brightness(0.75);
        }

    }

}